.bgColor {
    background-color: cadetblue;
}

.chart-container{
    display: flex;
    justify-content: center;
}

.pointer {
    cursor: pointer;
}

.table-container {
    max-height: 300px;
    overflow-y: auto;
}